:root {
    --color-black: #16151b;
    --color-vader-black: #0c1c2c;
    --color-jedi-white: #fff;
    --color-solar-sand: #faead0;
    --color-jedi-blue: #b0cbc2;
    --color-turquoise: #00989a;
    --color-dune-blue: #0198ad;
    --color-blue-green: #00817b;
    --color-predator-blood-green: #89b941;
    --color-yoda-green: #81ae39;
    --color-kryponite-green: #007444;
    --color-martian-green: #007f46;
    --color-xenomorph-green: #006740;
    --color-sunshine-yellow: #f1a53b;
    --color-flare-orange: #ef8239;
    --color-space-suit-orange: #e26239;
    --color-mars-red: #ec1f26;
  }


