:root {
    --color-black: #16151b;
    --color-vader-black: #0c1c2c;
    --color-solar-sand: #faead0;
    --color-predator-blood-green: #89b941;
    --color-yoda-green: #81ae39;
    --color-jedi-blue: #b0cbc2;
    --color-turquoise: #00989a;
    --color-dune-blue: #0198ad;
    --color-space-suit-orange: #e26239;
    --color-mars-red: #ec1f26;
  }