:root {
    --color-black: #000;
    --color-solar-sand: #faead0;
    --color-predator-blood-green: #89b941;
    --color-jedi-blue: #b0cbc2;
    --color-turquoise: #00989a;
    --color-dune-blue: #0198ad;
  }